<footer class="page-footer footer-tiles center-on-small-only success-color-dark pt-4">
	<!-- Footer Links -->
	<div class="container mb-5 mt-5">
		<div class="row">
			<div class="col-xl-4 col-lg-4 pt-1 pb-1 wow fadeIn" data-wow-delay="0.3s">
				<h5 class="title mb-3">
					<strong>{{ trans.about }}</strong>
				</h5>
				<p>{{ trans.aboutText1 }}</p>
				<div class="footer-socials">
					<a type="button" class="btn-floating rgba-white-slight">
						<i class="fa fa-facebook"></i>
					</a>
					<a type="button" class="btn-floating rgba-white-slight">
						<i class="fa fa-twitter"></i>
					</a>
					<a type="button" class="btn-floating rgba-white-slight">
						<i class="fa fa-instagram"></i>
					</a>
				</div>
			</div>
			<hr class="w-100 clearfix d-md-none">
			<div class="col-xl-3 ml-xl-auto col-lg-4 col-md-6 pt-1 pb-1 wow fadeIn" data-wow-delay="0.3s">
				<p>
					<i class="fa fa-home mr-3"></i> Veg'N'Bio - Paris</p>
				<a>
					<i class="fa fa-envelope mr-3"></i> <a href="mailto:reply.projet2018@gmail.com">reply.projet2018@gmail.com</a></p>
				<p>
					<i class="fa fa-phone mr-3"></i> +33 1 234 567 88</p>
			</div>
			<hr class="w-100 clearfix d-md-none">
			<div class="text-center ml-xl-auto col-xl-3 col-lg-4 col-md-6 pt-1 pb-1 wow fadeIn" data-wow-delay="0.3s">
				<h5 class="title mb-3">
					<strong>{{ trans.openingHours }}</strong>
				</h5>
				<table class="table">
					<tbody>
					<tr>
						<td>{{ trans.monToThu }}</td>
						<td>10h - 23h</td>
					</tr>
					<tr>
						<td>{{ trans.friToSat }}</td>
						<td>11h - 00h00</td>
					</tr>
					<tr>
						<td>{{ trans.dim }}</td>
						<td>10h - 00h00</td>
					</tr>
					</tbody>
				</table>
				<a class="btn btn-rounded rgba-white-slight" data-toggle="modal" data-target="#modal-reservation">{{ trans.bookATable }}</a>
			</div>
		</div>
	</div>
	<div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
		<div class="container-fluid">
			© 2017 Copyright:
			<a href="#" rel="nofollow"> Veg'N'Bio </a>
		</div>
	</div>
</footer>
