<!DOCTYPE html>
<html>
	<head>
		<title>{{ trans.metaTitle }} | Veg'N'Bio</title>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="../../assets/MDB/css/bootstrap.min.css">
			<link rel="stylesheet" href="../../assets/MDB/css/mdb.min.css">
			<link rel="stylesheet" href="../../assets/MDB/css/style.css">
			<link rel="stylesheet" href="../../assets/stylesheets/style.css">
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />

	</head>
	<body>
	<script>
        var loginSuccess = "{{ trans.logInSuccess }}";
        var loginFail = "{{ trans.logInFail }}";
        var signUpFail = "{{ trans.signUpFail }}";
        var signUpSuccess = "{{ trans.signUpSuccess }}";
        var signUpInWait= "{{ trans.accountInWait }}";
	</script>