{% extends 'base.twig' %}

{% set bodyClass = 'fixed-sn mdb-skin' %}
{% block content %}
{% include 'inventoryManagement/css/inventoryManagement.css' %}

<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">
    	<div class="card p-2 mb-5">

		    <!--Grid row-->
		    <div class="row">

		        <!--Grid column-->
		        <div class="col-lg-3 col-md-12">

		            <!--Name-->
		            <select class="mdb-select colorful-select dropdown-primary mx-2">
		                <option value="" disabled selected>Bulk actions</option>
		                <option value="1">Delate</option>
		                <option value="2">Export</option>
		                <option value="3">Change segment</option>
		            </select>

		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-3 col-md-6">

		            <!--Blue select-->
		            <select class="mdb-select colorful-select dropdown-primary mx-2">
		                <option value="" disabled selected>Show only</option>
		                <option value="1">All <span> (2000)</span></option>
		                <option value="2">Never opened <span> (200)</span></option>
		                <option value="3">Opened but unanswered <span> (1800)</span></option>
		                <option value="4">Answered <span> (200)</span></option>
		                <option value="5">Unsunscribed <span> (50)</span></option>
		            </select>
		            <!--/Blue select-->

		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-3 col-md-6">

		            <!--Blue select-->
		            <select class="mdb-select colorful-select dropdown-primary mx-2">
		                <option value="" disabled selected>Filter segments</option>
		                <option value="1">Contacts in no segments <span> (100)</span></option>
		                <option value="1">Segment 1 <span> (2000)</span></option>
		                <option value="2">Segment 2 <span> (1000)</span></option>
		                <option value="3">Segment 3 <span> (4000)</span></option>
		            </select>
		            <!--/Blue select-->

		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-3 col-md-6">

		            <form class="form-inline mt-2 ml-2">
		                <input class="form-control my-0 py-0" type="text" placeholder="{{ trans.search }}" style="max-width: 150px;">
		                <button class="btn btn-sm btn-primary ml-2 px-1"><i class="fa fa-search"></i>  </button>
		            </form>

		        </div>
		        <!--Grid column-->

		    </div>
		    <!--Grid row-->

		</div>
		<div class="row">

		<!-- Column -->
			<div class="col-md-3 mb-4 d-flex align-items-stretch">

			    <!--Card-->
			    <div class="card">

			        <!--Card image-->
			        <div class="view">
			            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="img-fluid" alt="">
			            <a href="#">
			                <div class="mask rgba-white-slight">Photo producteur</div>
			            </a>
			        </div>

			        <!--Card content-->
			        <div class="card-body">
			            <!--Title-->
			            <h4 class="card-title">Produits proposés</h4>
			            <!--Text-->
			             
						<ul class="list-group">
						    <li class="list-group-item d-flex justify-content-between align-items-center">
						        {{ trans.name }} : Producteur_Name
						    </li>
						    <li class="list-group-item d-flex justify-content-between align-items-center">
						        {{ trans.quantityProduct }} : Quantité_Produit (kg)
						    </li>
						    <li class="list-group-item d-flex justify-content-between align-items-center">
						        {{ trans.locate }} : Producteur_localisation
						    </li>
						    <li class="list-group-item d-flex justify-content-between align-items-center">
						        {{ trans.deliveryTime }} : Demain
						    </li>
						</ul>
	                
			        </div>

			    </div>
			    <!--/.Card-->

			</div>
		<!-- Column -->
		</div>
    </div>
</main>

{% endblock %}