{% extends 'base.twig' %}

{% set bodyClass = 'fixed-sn mdb-skin' %}
{% block content %}
    <script>
        var mobileSale = parseInt({{ data['userSales']['mobile'] }});
        var internetSale = parseInt({{ data['userSales']['internet'] }});
        var deskSale = parseInt({{ data['userSales']['desk'] }});
        var mobileText = "{{ trans.mobileOrder }}";
        var restaurantText = "{{ trans.restaurantOrder }}";
        var internetText = "{{ trans.internetOrder }}";
        var breadQty = parseInt({{ data['stockData']['2']['quantity'] }});
        var saladQty = parseInt({{ data['stockData']['1']['quantity'] }});
        var tomatoQty = parseInt({{ data['stockData']['0']['quantity'] }});

    </script>
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h4 class="mb-2 mb-sm-0 pt-1">
                    <a href="/admin/" target="_blank">{{ trans.home }}</a>
                    <span>/</span>
                    <span>Dashboard</span>
                </h4>

                <form class="d-flex justify-content-center">
                    <!-- Default input -->
                    <input type="search" placeholder="{{ trans.search }}" aria-label="Search" class="form-control">
                    <button class="btn btn-primary btn-sm my-0 p" type="submit">
                        <i class="fa fa-search"></i>
                    </button>

                </form>

            </div>

        </div>
        <!-- Heading -->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-9 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <div class="card-body">

                        <canvas id="myChart"></canvas>

                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!--Card-->
                <div class="card mb-4">

                    <!-- Card header -->
                    <div class="card-header text-center">
                        {{ trans.salesStats }}
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <canvas id="pieChart"></canvas>

                    </div>

                </div>
                <!--/.Card-->

                <!--Card-->
                <div class="card mb-4">

                    <!--Card content-->
                    <div class="card-body">

                        <!-- List group links -->
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action waves-effect">{{ trans.sales }}
                                <span class="badge badge-success badge-pill pull-right">{{ data['userSales']['total'] }}
                                    <i class="fa fa-arrow-up ml-1"></i>
                                </span>
                            </a>
                            <a class="list-group-item list-group-item-action waves-effect">{{ trans.restaurantOrder }}
                                <span class="badge badge-danger badge-pill pull-right">{{ data['userSales']['desk'] }}
                                    <i class="fa fa-arrow-down ml-1"></i>
                                </span>
                            </a>
                            <a class="list-group-item list-group-item-action waves-effect">{{ trans.mobileOrder }}
                                <span class="badge badge-primary badge-pill pull-right">{{ data['userSales']['mobile'] }}</span>
                            </a>
                            <a class="list-group-item list-group-item-action waves-effect">{{ trans.internetOrder }}
                                <span class="badge badge-primary badge-pill pull-right">{{ data['userSales']['internet'] }}</span>
                            </a>
                            <a class="list-group-item list-group-item-action waves-effect">{{ trans.supportMessage }}
                                <span class="badge badge-primary badge-pill pull-right">0</span>
                            </a>
                        </div>
                        <!-- List group links -->

                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Card-->
                <div class="card">


                    <!--Card content-->
                    <div class="card-body">

                        <!-- Table  -->
                        <table class="table table-hover">
                            <!-- Table head -->
                            <thead class="blue-grey lighten-4">
                                <tr>
                                    <th>{{ trans.lastInscription }}</th>
                                    <th>{{ trans.name }}</th>
                                    <th>{{ trans.firstname }}</th>
                                    <th>{{ trans.dayOfInscription }}</th>
                                </tr>
                            </thead>
                            <!-- Table head -->

                            <!-- Table body -->
                            <tbody>
                            {% for user in data['usersData']['user'] %}
                                <tr>
                                    <th scope="row"></th>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.date_inserted }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <!-- Table body -->
                        </table>
                        <!-- Table  -->

                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Card-->
                <div class="card">


                    <!--Card content-->
                    <div class="card-body">

                        <!-- Table  -->
                        <table class="table table-hover">
                            <!-- Table head -->
                            <thead class="blue-grey lighten-4">
                            <tr>
                                <th>{{ trans.lastEmployees }}</th>
                                <th>{{ trans.name }}</th>
                                <th>{{ trans.firstname }}</th>
                                <th>{{ trans.dayOfInscription }}</th>
                            </tr>
                            </thead>
                            <!-- Table head -->

                            <!-- Table body -->
                            <tbody>
                            {% for user in data['usersData']['employees'] %}
                                <tr>
                                    <th scope="row"></th>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.date_inserted }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <!-- Table body -->
                        </table>
                        <!-- Table  -->

                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <!--Card-->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header">{{ trans.numberOfOrders }}</div>

                    <!--Card content-->
                    <div class="card-body">

                        <canvas id="lineChart"></canvas>

                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!--Card-->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header">Google map</div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Google map-->
                        <div id="map-container" class="z-depth-1" style="height: 500px"></div>

                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header">{{ trans.inventoryManagement }}</div>

                    <!--Card content-->
                    <div class="card-body">

                        <canvas id="doughnutChart"></canvas>

                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
</main>

{% endblock %}
{% block javascript %}
    {% include 'dashboard/js/dashboard.js' %}
{% endblock %}
