{% include 'dashboard/css/dashboard.css' %}
<header>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 fixed">
            <ul class="custom-scrollbar" style="padding-left:0px;">
                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light">
                        <a href="/admin/"><img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center"></a>
                    </div>
                </li>
                <li>
                    <form class="search-form" role="search">
                        <div class="form-group md-form mt-0 pt-1 waves-light">
                            <input type="text" class="form-control" placeholder="{{ trans.search }}">
                        </div>
                    </form>
                </li>
                <!--/.Search Form-->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-chevron-right"></i> {{ trans.restaurantManagement }}<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#" class="waves-effect"> {{ trans.menus }}</a>
                                    </li>
                                    <li><a href="#" class="waves-effect"> {{ trans.modifyWebSite }}</a>
                                    </li>
                                    <li><a href="#" class="waves-effect"> {{ trans.inventoryManagement }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="?url=employeesManagement" class="waves-effect arrow-r"><i class="fa fa-chevron-right"></i> {{ trans.employeesManagement }}</a>
                        </li>
                        <li><a class="waves-effect arrow-r"><i class="fa fa-chevron-right"></i> {{ trans.checking }}</a>
                        </li>
                        <li><a class="waves-effect arrow-r"><i class="fa fa-chevron-right"></i> {{ trans.offerManagement }}</a>
                        </li>
                        <li><a class="waves-effect arrow-r"><i class="fa fa-chevron-right"></i> {{ trans.support }}</a>
                        </li>
                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p>Veg'N'Bio</p>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-chevron-right"></i> {{ trans.logOut }}</a>
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->
    </header>